* {
    user-select: none;
}

[data-flex-splitter-horizontal] > *, [data-flex-splitter-vertical] > * {
    overflow: visible;
}

[data-flex-splitter-vertical] > [role=separator] {
    height: 4px;
    background-color: #DDD;
}

[data-flex-splitter-horizontal] > [role=separator] {
    width: 4px;
    background-color: #DDD;
}

/* Structure */

#section {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#section-1 {
    flex: auto;
    display: flex;
    min-height: 400px;
}

#section-10 {
    flex: auto;
    display: flex;
    flex-direction: column;
    min-width: 600px;
}

#section-11 {
    width: 50%;
    min-width: 600px;
}

#section-2 {
    height: 200px;
    display: flex;
    flex-direction: column;
    min-height: 200px;
}

/* Header Widget */

.navbar .navbar-brand img {
    vertical-align: text-bottom;
    height: 28px;
    margin-right: 6px;
    filter: invert(1); 
}

/* Toast Zone */

#toast-zone {
    position: absolute;
    top: 32px;
    right: 32px;
    z-index:999;
}

#toast-zone > .toast {
    width: 20vw;
    max-width: 80vw;
}

#toast-zone > .toast > .toast-header {
    color: inherit;
    background-color: inherit;
    border-bottom: none;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

#toast-zone > .toast > .toast-header > img {
    filter: invert(1);
    margin-right: 10px;
}

#toast-zone > .toast > .toast-header > .close {
    color: inherit;
    opacity: 1;
    margin-top: -0.28rem;
    margin-right: -0.28rem;
}

#toast-zone > .toast > .toast-body {
    padding-top: 0;
}

#toast-zone > .toast > .toast-body:empty {
    display: none;
}

/* Editor Widget */

#editor {
    display: flex;
}

#editor-ace {
    flex: 1;
    overflow-y: scroll;
    min-height: 100px;
}

#editor-log {
    height: 200px;
    min-height: 100px;
    flex-shrink: 1;
    font-variant-ligatures: no-common-ligatures;
    font: 12px/normal 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    white-space: pre;
    overflow-y: scroll;
    overflow-x: auto;
    background-color: #f0f0f0;
    padding: 12px;
}

#editor-log * {
    user-select: text;
}

#editor-log > .log.text-info {
    color: black !important;
}

#editor-log > .log.text-success, #editor-log > .log.text-warning, #editor-log > .log.text-danger {
    font-weight: bolder;
}

/* General Buttons */

.btn-toolbar {
    background-color: #DDD;
    padding: 8px 16px;
    height: 50px;
}

.btn > img {
    filter: invert(1);
    margin-top: -4px;
    width: 16px;
}

.btn > img + span {
    margin-left: 6px;
}

.btn:focus {
   outline: none;
   box-shadow: none;
 }

.dropdown-item {
   cursor: pointer;
}

.dropdown-item.checked {
   background-image: url(../images/own-icons/dot-checked.svg);
   background-repeat: no-repeat;
   background-position: left center;
   background-size: 30px;
}

img.invert {
   filter: invert(100%);
}

img.flip {
   transform: scaleX(-1);
}

/* General Modal */

.modal-header > img {
    width: 30px;
}

/* History Widget */

#history {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

#history > .btn-toolbar {
    padding-top: 4px; /* Substract splitter height */
    height: 46px; /* Substract splitter height */
}

#history-changes {
    flex: 1;
    position: relative;
    overflow-y: scroll;
    padding: 6px 14px;
}

#history-changes > span {
    display: inline-block;
    padding: 6px 12px !important;
    margin: 2px;
    cursor: pointer;
    font-weight: normal;
    background-color: #f0f0f0;
}

#history-changes > span.current {
    background-color: var(--primary) !important;
    color: white;
}

#history-changes > span:hover {
    background-color: var(--secondary);
    color: white;
}

/* Cube Widget */

#cube {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#cube-display {
    flex: 1;
    background-color: #f0f0f0;
    position: relative;
}

#cube-display > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#cube-control {
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
}

#cube-control .btn-group {
    margin: 4px;
}

#cube-control .btn-group:nth-last-child(1) {
    margin-left: 44px;
}

#cube-control button:nth-child(1) {
    width: 64px;
}

#cube-control button:nth-child(2) {
    width: 40px;
}

/*///////////////////////////////////////////////////////////////////////*/

.link-generator {
    width: 100%;
}

.link-generator label {
    width: 100px;
    justify-content: start;
}

.link-generator input {
    flex: 1;
}